<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Software Journal TestSuite">
  <test thread-count="5" name="Regression Testing">
    <classes>
      <class name="com.software.journal.testcases.SoftwareJournalChannelTest"/>
    </classes>
  </test> <!-- Regression Testing -->
</suite> <!-- Software Journal TestSuite -->
